* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Courier New', Courier, monospace;
}



.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.background {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-width: 40%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: absolute;
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.192);


}
img{
    width: 45px;
}

h1 {
    font-family: serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(245, 245, 8);
    font-size: 3rem;

}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 70px 70px 0px 70px;
    gap: 40px;
}

p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    width: clamp(45ch, 85%, 90ch);

}

form {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    padding: 0px 0px 50px 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}
input:focus{
    outline: none;
    border: 1.5px solid rgba(215,78,141,255);
    box-shadow: 0 0 4px rgba(252,170,111,255);
}

label {
    margin-top: 14px;
    font-size: 0.7rem;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
}

button {
    align-self: flex-start;
    background-color: rgba(215,78,141,255);
    min-width: 225px;
    min-height: 50px;
    margin-left: 70px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.bottom-text {
    margin-left: 70px;
}