*,
body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Courier New', Courier, monospace;

}



.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: auto;

}

.background {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 40%;
    height: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    overflow: hidden;
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0.192);


}

img {
    width: 45px;
}

h1 {
    font-family: serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(245, 245, 8);
    font-size: 3rem;

}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 70px 70px 0px 70px;
    gap: 40px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    width: clamp(45ch, 85%, 90ch);
}

form {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    padding: 0px 0px 50px 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}

input:focus {
    outline: none;
    border: 2px solid rgba(215, 78, 141, 255);

}

label {
    margin-top: 14px;
    font-size: 0.7rem;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
}

button {
    align-self: flex-start;
    background-color: rgba(215, 78, 141, 255);
    min-width: 225px;
    min-height: 50px;
    margin-left: 70px;
    border-radius: 12px;
    border: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(252, 170, 111, 255);
}

.bottom-text {
    margin-left: 70px;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgba(215, 78, 141, 255);
}

a:hover,
a:active {
    color: rgba(252, 170, 111, 255);
}

.enabled {
    background-color: rgba(215, 78, 141, 255);
    border: transparent;
    color: black;
}

.disabled {
    background-color: gray;
    color: black;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-flow: column;
        height: auto;
        text-align: center;
    }

    .background {
        width: 100vw;
        height: 25vh;
        display: flex;
        align-items: center;
        background-size: 100vw;
        background-position: bottom;
    }

    .title {
        margin: 0;
        width: 100vw;
        gap: 10px;
    }

    p {
        width: auto;
    }

    .form-container {
        margin: 0;
        width: auto;
        height: auto;
    }

    .text-container {
        width: auto;
        margin-top: 0px;
        padding: 20px;
    }

    form {
        padding-left: 0px;
        padding-bottom: 20px;
        gap: 0;
        flex-flow: column nowrap;
        align-items: center;
    }

    input {
        font-size: 0.9rem;
        height: 1.5rem;
        width: auto;
    }

    button {
        align-self: center;
        margin-left: 0px;
        width: 40vw;
        padding: 10px 5px;
    }

    .bottom-text {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }

}